.jumbotron {
  min-height: 500px;
  padding: 2rem 1rem;
  background-color: #d8d8d8;
}

#about {
  padding: 2rem 1rem;
  min-height: 500px;
}

#galeri {
  min-height: 500px;
  padding: 2rem 1rem;
  background-color: #d8d8d8;
}

#contact {
  padding: 2rem 1rem;
}

.footer {
  min-height: 100px;
}
